name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Archive project
        run: tar -czf /tmp/project.tar.gz .

      - name: Upload project archive
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "/tmp/project.tar.gz"
          target: "/C:/Windows/Temp"
          overwrite: true

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            if not exist "${{ secrets.PROJECT_DIR }}" mkdir "${{ secrets.PROJECT_DIR }}"
            tar -xzf C:/Windows/Temp/project.tar.gz -C "${{ secrets.PROJECT_DIR }}"
            del C:\Windows\Temp\project.tar.gz
            cd ${{ secrets.PROJECT_DIR }}
            node deploy/generateEnv.js \
              _CUSTOM_CRON_EXPR="${{ secrets.CRON_EXPR }}" \
              _CUSTOM_COFFEE_USERNAME="${{ secrets.COFFEE_USERNAME }}" \
              _CUSTOM_COFFEE_PASSWORD="${{ secrets.COFFEE_PASSWORD }}"
            node deploy/deploy.js