name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Archive project
        run: tar -czf /tmp/project.tar.gz .

      - name: Upload project archive
        run: |
          echo "${{ secrets.SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem
          scp -i private_key.pem -o StrictHostKeyChecking=no /tmp/project.tar.gz ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/C:/Windows/Temp/project.tar.gz

      - name: Deploy on server
        run: |
          echo "${{ secrets.SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem
          ssh -i private_key.pem -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.PROJECT_DIR }} && git pull && deploy/remote_deploy.bat \"${{ secrets.PROJECT_DIR }}\" \"${{ secrets.CRON_EXPR }}\" \"${{ secrets.COFFEE_USERNAME }}\" \"${{ secrets.COFFEE_PASSWORD }}\""